 <h1>{{ site.author }}</h1>
 <hr>
 <p class="lead">
   <ul>
     <li>Technology consultant and aspiring sofware engineer.</li>
     <li>Born and raised in Peru, now living in NYC.</li>
     <li>Passionate about <a href="http://manifesto.softwarecraftsmanship.org/">software crafstmanship</a> and delivering quality code.</li>
     <li>Self-driven learner currently exploring web technologies.</li>
     <li>Check out my <a href="{{ root_url }}/blog/">blog</a> to see what I am learning.</li>
   </ul>
</p>