<div class="hero" style="background-image: url('/images/nyc_skyline.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
             Welcome! I am a technology consultant and an aspiring web developer. Born and raised in Peru now living in NYC. 
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      NYC Skyline, by me <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence"><small>(by-nc-nd)</small></a>
    </p>
  </div>
</div>
